{% extends 'base.html' %} {% block content %}

<div class="container text-white">
  <div class="p-2 m-2">
    <div class="col-md-6 mx-auto pt-4 bg-dark">
      <h3 class="text-white text-center pb-2">Create an Account</h3>
      <form action="" method="post" class="bg-dark">
        {% csrf_token %} {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endif %}
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input
            type="text"
            value="{{value.first_name}}"
            name="firstname"
            class="form-control"
            placeholder="Firstname"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input
            type="text"
            value="{{value.last_name}}"
            name="lastname"
            class="form-control"
            placeholder="Lastname"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Phone Number</label>
          <input
            type="text"
            value="{{value.phone}}"
            name="phone"
            class="form-control"
            placeholder="Phone number"
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            value="{{value.email}}"
            name="email"
            class="form-control"
            placeholder="Enter your email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
        </div>

        {% if messages %} {% for message in messages %}
        <h6 class="text-white">{{message}}</h6>
        {% endfor %} {% endif %}

        <div class="form-group">
          <input
            type="submit"
            value="Register"
            class="btn btn-primary mt-1 mr-2 mb-3"
          />
          <a href="{% url 'login' %}">Login</a> Instead!
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
